<div class="row" [ngClass]="{'pulsing':animation}" (animationend)="animation = false">
    <div *ngFor="let comment of commentsList" class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Comment:</h6>
          <p class="card-text">
          <strong>Body:</strong>
          {{comment.body}}</p>
        </div>
        <div class="card-footer">
          <strong>Author: </strong>
          <a href="mailto:{{comment.email}}">{{comment.name}}</a>
        </div>
      </div>
  </div>
</div>
