/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
nav{
    color: #fff;
    margin-bottom: 15px;
}

nav span{
    font-size: x-large;
    font-family: cursive;
}